/*all variables*/

:root {

  /*Font*/

  --font-size-h1: 24pt;
  --font-size-h2: 20pt;
  --font-size-h3: 18pt;
  --font-size-h4: 16pt;
  --font-size-h5: 14pt;
  --font-size-default: 12pt;
  --font-size-small: 10pt;

  --font-size-h1-mobile: 16pt;
  --font-size-h2-mobile: 15pt;
  --font-size-h3-mobile: 14pt;
  --font-size-h4-mobile: 13pt;
  --font-size-h5-mobile: 12pt;
  --font-size-default-mobile: 11pt;
  --font-size-small-mobile: 9pt;



  /*Colors*/

  --primary-color: rgb(0, 122, 195);
  --primary-color-hover: rgb(0, 140, 220);

  --secondary-color: rgb(229, 244, 239);
  --secondary-color-hover: rgb(215, 255, 240);

  --default-black: rgb(32, 32, 32);



  /*Border Radius*/
  --max-radius: 500px;



  /*Box-Shadow*/

  --box-shadow-default: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  --box-shadow-heavy: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  --box-shadow-light: 0 1px 2px 0 rgba(0, 0, 0, 0.3);

}